<h1>Edit Business</h1>

<%= form_with url: "/businesses/#{@business.id}", method: :patch, local: true do |form| %>
  <%= form.label :name %>
  <%= form.text_field :name %><br><br>
  <%= form.label :rank%>
  <%= form.text_field :rank %><br><br>
  <%= form.label :big_company%>
  <%= form.text_field :big_company%><br><br>
  <%= form.submit 'Update' %>
<% end %>
