<%= form_for(@businesses) do |f| %>
<ul>
  <% @businesses.errors.full_messages.each do |error| %>
  <li><%= error %></li>
  <% end %>
</ul>
<p>
  <%= f.label :name %><br />
  <%= f.text_field :name %>
</p>
<p>
  <%= f.label :rank %><br />
  <%= f.number_field :rank %>
</p>
  <%= f.label :big_company %><br />
  <%= f.text_field :big_company %>
<p>
  <%= f.submit %>
</p>
<% end %>
