<a href="/businesses/<%=@businesses.id %>/employees">Employees</a>

<h1> Business Information</h1>

<li>Name:  <%=@businesses.name%></li><br>
<li>Rank:  <%=@businesses.rank%></li><br>
<li>Big Company: <%=@businesses.big_company%></li><br>
<li>Number of Employees: <%=@businesses.employees.count%></li><br>

<a href="/businesses"> Return Home</a>
<a href="/businesses/<%=@businesses.id%>/edit">Edit Business</a>
