<a href="/bakeries/<%= @bakery.id %>"> Return to <%=@bakery.name %></a>
<a href="/bakeries"> Return Home</a>
<h1>Menu</h1>
<% @pastries.each do |pastry| %>
  <h3>name: <%= pastry.name %></h3>
  <h4>gluten_free: <%= pastry.gluten_free %></h4>
  <h4>$<%= pastry.price %></h4>
  <p>---------</p>

  <% end %>
<%= link_to "New Menu Item", '/bakeries/:id/pastries/new'%>
