<a href="/bakeries">Bakeries</a>
<a href="/businesses">Businesses</a>
<a href="/employees">Employees </a>
<a href="/pastries">Pastries</a>

<h1>All Bakeries</h1>


<ul id="bakeries">
  <% @bakeries.each do |bakery| %>
    <li>
      <a href="/bakeries/<%=bakery.id %>"><%=bakery.name%></a>
      <%=bakery.created_at%>
      <a href="/bakeries/<%=bakery.id %>/edit">Edit</a>
    </li>
  <% end %>
</ul>

<%= link_to "New Bakery", '/bakeries/new' %><br>
