<h1>Create a New Bakery</h1><br>
<%= form_for(@bakeries) do |f| %>
<ul>
  <% @bakeries.errors.full_messages.each do |error| %>
  <li><%= error %></li>
  <% end %>
</ul>
<p>
  <%= f.label :name %><br />
  <%= f.text_field :name %>
</p>
<p>
  <%= f.label :rank %><br />
  <%= f.number_field :rank %>
</p>
  <%= f.label :open %><br />
  <%= f.text_field :open %>
<p>
  <%= f.submit %>
</p>
<% end %>
