<a href="/bakeries/<%=@bakeries.id %>/pastries">Menu</a>
<h1><%= @bakeries.name %></h1>

<li>Menu Count:<%=@bakeries.pastries.count%></li><br>
<li>Rank:  <%=@bakeries.rank%></li><br>
<li>Open:  <%=@bakeries.open%></li><br>
